<h1>Formulario básico</h1>

<div class="contact">
    <h1>Contact</h1>
    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="form" novalidate>

        <label>Username</label>
        <input type="text" name="username" required ngModel #username="ngModel" required />

        <label>Email</label>
        <input type="email" name="email" required ngModel #email="ngModel" required />

        <hr>
        <div>
            <input type="submit" [disabled]="!formulario.valid" />
        </div>
    </form>

    <!-- <p>
        {{formulario.value | json}}
    </p> -->

    <!-- <p>{{ formulario.valid }}</p> -->
</div>